body{
  text-align: center;
}

p{
  font-size: 20px;
  font-weight: bold;
}

input{
 font-size:18px;
}

button {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid aqua;
  border-radius: 0.6em;
  color: aquamarine;
  cursor: pointer;
  align-self: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
button:hover, .button:focus {
  color: #fff;
  outline: 0;
}